{% extends 'base.html' %}
{% block title %} Chris James . Russian {% endblock title %}
{% block content %}
<main>
    <div class="container col-8">
        <div class="page-title-container">
            <div class="row">
                <div class="col-auto mb-2 mb-md-0">
                    <div class="sw-md-30 sw-lg-40 w-100">
                        <h1 class="mb-0 pb-0 display-4" id="title">Chatme</h1>
                    </div>
                </div>
                <div class="col-12 col-md d-flex align-items-start justify-content-md-end">
                    
                    <button type="button" class="btn btn-icon btn-icon-only btn-outline-primary ms-1 disabled d-none"
                        id="backButton">
                        <i data-acorn-icon="arrow-left" data-icon-size="20" class="icon"></i>
                    </button>

                    <a href="{{url_for('chat.list')}}" type="button"  class="btn btn-outline-primary btn-icon btn-icon-start ms-1 w-100 w-md-auto">
                        <i data-acorn-icon="arrow-left" data-icon-size="20" class="icon"></i>
                        <span> Back</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row flex-grow-1 overflow-hidden pb-2 h-100">
            <div class="col h-100 d-flex" id="chatView">
                <div class="flex-column h-100 w-100 d-flex" id="chatMode">
                    <div class="card h-100 mb-2">

                        <div class="card-body d-flex flex-column h-100 w-100 position-relative">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <div class="row g-0 sh-6 align-self-start" id="contactTitle">
                                    <div class="col-auto">
                                        <div class="sh-6 sw-6 d-inline-block position-relative">
                                            <img src="{{url_for('static', filename='img/profile/' + user.image)}}"
                                                class="img-fluid rounded-xl border border-2 border-foreground profile"
                                                alt="thumb">
                                            <i class="p-1 border border-1 border-foreground bg-primary position-absolute rounded-xl e-0 t-0 status"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div
                                            class="card-body d-flex flex-row pt-0 pb-0 pe-0 pe-0 ps-2 h-100 align-items-center justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="name">{{user.name}}</div>
                                                <div class="text-small text-muted last">{{user.last_seen|time_ago}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button"
                                    class="btn btn-outline-primary btn-icon btn-icon-only ms-1 ms-auto" id="callButton"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                                    data-delay="{'show':'250', 'hide':'0'}" data-bs-original-title="Call">
                                    <i data-acorn-icon="phone" data-icon-size="20" class="icon"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only ms-1"
                                    id="videoCallButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                                    data-delay="{'show':'250', 'hide':'0'}" data-bs-original-title="Video Call">
                                    <i data-acorn-icon="video" data-icon-size="20" class="icon"></i>
                                </button>
                            </div>

                            <div class="separator-light mb-3"></div>

                            <div class="h-100 mb-n2 scroll-out">
                                <div class="h-100 os-host os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-overflow os-host-overflow-y os-host-transition"
                                    id="chatContentContainer">
                                    <div class="os-resize-observer-host observed">
                                        <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
                                    </div>
                                    <div class="os-size-auto-observer observed"
                                        style="height: calc(100% + 1px); float: left;">
                                        <div class="os-resize-observer"></div>
                                    </div>
                                    <div class="os-content-glue"
                                        style="margin: 0px -15px; width: 1107px; height: 204px;"></div>
                                    <div class="os-padding">
                                        <div class="os-viewport os-viewport-native-scrollbars-invisible"
                                            style="overflow-y: scroll;">

                                            <div class="os-content" style="padding: 0px 15px; height: 100%; width: 100%;">
                                            
                                            {% for msg in chat %}
                                            {% if msg.author != current_user %}
                                                <div class="mb-2 card-content">
                                                    <div class="row g-2">
                                                        <div class="col-auto d-flex align-items-end">
                                                            <div
                                                                class="sw-5 sh-5 mb-1 d-inline-block position-relative">
                                                                <img src="{{url_for('static', filename='img/profile/' + msg.author.photo)}}"
                                                                    class="img-fluid rounded-xl chat-profile"
                                                                    alt="thumb">
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex align-items-end content-container">
                                                            <div
                                                                class="bg-separator-light d-inline-block rounded-md py-3 px-3 pe-7 position-relative text-alternate">
                                                                <span class="text">{{msg.body}}</span>

                                                                <span class="position-absolute text-extra-small text-alternate opacity-75 b-2 e-2 time">{{msg.created|time_ago}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="mb-2 card-content">
                                                    <div class="row g-2">
                                                        <div class="col-auto d-flex align-items-end order-1">
                                                            <div
                                                                class="sw-5 sh-5 mb-1 d-inline-block position-relative">
                                                                <img src="{{url_for('static', filename='img/profile/' + msg.author.photo)}}"
                                                                    class="img-fluid rounded-xl" alt="thumb">
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col d-flex justify-content-end align-items-end content-container">
                                                            <div
                                                                class="bg-gradient-light d-inline-block rounded-md py-3 px-3 ps-7 text-white position-relative">
                                                                <span class="text">{{msg.body}}</span>
                                                                <span
                                                                    class="position-absolute text-extra-small text-white opacity-75 b-2 s-2 time">{{msg.created|time_ago}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
                                        <div class="os-scrollbar-track os-scrollbar-track-off">
                                            <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
                                        </div>
                                    </div>
                                    <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
                                        <div class="os-scrollbar-track os-scrollbar-track-off">
                                            <div class="os-scrollbar-handle" style="height: 20.1178%; transform: translate(0px, 160.921px);"></div>
                                        </div>
                                    </div>
                                    <div class="os-scrollbar-corner"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'incs/alerts.html' %}
                    <div class="card">
                        <div class="card-body p-0 d-flex flex-row align-items-center px-3 py-3">
                           <form action="{{url_for('chat.chat', user=user.username)}}" method="post" class="card-body p-0 d-flex flex-row align-items-center px-1 py-1">
                            {{ form.hidden_tag() }}
                            
                            {{form.message(class="form-control me-3 border-0 ps-2 py-2", placeholder="Message", rows="1",
                            id="chatInput", style="overflow: hidden; overflow-wrap: break-word; height: 37px;")}}
                            {% if form.message.errors %}
                            {% for error in form.message.errors or form.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                            {% endif %}
                            
                            <div class="d-flex flex-row">
                                <button class="btn btn-icon btn-icon-only btn-primary mb-1 rounded-xl ms-1"
                                id="chatSendButton" type="submit">
                                <i data-acorn-icon="navigate-diagonal" class="icon" data-acorn-size="20"></i>
                            </button>
                            </div>
                        </form>
                            {#  
                            <!-- <textarea class="form-control me-3 border-0 ps-2 py-2" placeholder="Message" rows="1"
                            id="chatInput" style="overflow: hidden; overflow-wrap: break-word; height: 37px;"></textarea>

                            <div class="d-flex flex-row">
                                <input class="file-upload d-none" type="file" accept="image/*" id="chatAttachmentInput">
                                <button class="btn btn-icon btn-icon-only btn-outline-primary mb-1 rounded-xl"
                                    id="chatAttachButton" type="button">
                                    <i data-acorn-icon="attachment" data-icon-size="20" class="icon"></i>
                                </button>
                                <button class="btn btn-icon btn-icon-only btn-primary mb-1 rounded-xl ms-1"
                                    id="chatSendButton" type="submit">
                                    <i data-acorn-icon="chevron-right" data-icon-size="20" class="icon"></i>
                                </button>
                            </div> -->
                            #}
                        
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>

<script>

$('textarea.form-control').val( '' ).focus()
if($.trim('textarea.form-control') == ''){alert('empty')}
$('div.os-content').append('<div> Message(s) <div>')
$('div.os-content').animate(props, {}, speed)
/*
const form = document.querySelector(".typing-area"),
incoming_id = form.querySelector(".incoming_id").value,
inputField = form.querySelector(".input-field"),
sendBtn = form.querySelector("button"),
chatBox = document.querySelector(".chat-box");

form.onsubmit = (e)=>{
    e.preventDefault();
}

inputField.focus();
inputField.onkeyup = ()=>{
    if(inputField.value != ""){
        sendBtn.classList.add("active");
    }else{
        sendBtn.classList.remove("active");
    }
}

sendBtn.onclick = ()=>{
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "insert-chat.php", true);
    xhr.onload = ()=>{
      if(xhr.readyState === XMLHttpRequest.DONE){
          if(xhr.status === 200){
              inputField.value = "";
              scrollToBottom();
          }
      }
    }
    let formData = new FormData(form);
    xhr.send(formData);
}
chatBox.onmouseenter = ()=>{
    chatBox.classList.add("active");
}

chatBox.onmouseleave = ()=>{
    chatBox.classList.remove("active");
}

setInterval(() =>{
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "get-chat.php", true);
    xhr.onload = ()=>{
      if(xhr.readyState === XMLHttpRequest.DONE){
          if(xhr.status === 200){
            let data = xhr.response;
            chatBox.innerHTML = data;
            if(!chatBox.classList.contains("active")){
                scrollToBottom();
              }
          }
      }
    }
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.send("incoming_id="+incoming_id);
}, 500);

function scrollToBottom(){
    chatBox.scrollTop = chatBox.scrollHeight;
  }
  */
</script>

{% endblock content %}