{% extends 'base.html' %}
{% block title %} Chats . Russian {% endblock title %}
{% block content %}

<main>
    <div class="container col-8">
        <div class="page-title-container">
            <div class="row">
                <div class="col-auto mb-2 mb-md-0">
                    <div class="sw-md-30 sw-lg-40 w-100">
                        <h1 class="mb-0 pb-0 display-4" id="title">Chatme . Developers</h1>
                    </div>
                </div>
                <div class="col-12 col-md d-flex align-items-start justify-content-md-end">
                    <button type="button" class="btn btn-icon btn-icon-only btn-outline-primary ms-1 disabled d-none"
                        id="backButton">
                        <i data-acorn-icon="arrow-left" data-acorn-icon-size="20" class="icon"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-icon btn-icon-start ms-1 w-100 w-md-auto"
                        disabled="disabled">
                        <i data-acorn-icon="plus" data-acorn-icon-size="20" class="icon"></i>
                        <span>Add Contact</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row flex flex-grow-1 overflow-hidden pb-2 h-100">

            <div class="col h-100 d-flex" id="chatView">
                <div class="flex-column h-100 w-100 d-flex" id="chatMode">
                    <div class="card h-100 mb-2 py-5" style="height:40rem !important">

                        <div class="card-body d-flex flex-column h-100 w-100 position-relative">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <div class="row g-0 sh-6 align-self-start" id="contactTitle">
                                    <div class="col-auto">
                                        <div class="sh-6 sw-6 d-inline-block position-relative">
                                            <img src="{{url_for('static', filename='img/profile/'+ current_user.photo)}}"
                                                class="img-fluid rounded-xl border border-2 border-foreground profile"
                                                alt="thumb">
                                            <i class="p-1 border border-1 border-foreground bg-primary position-absolute rounded-xl e-0 t-0 status"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div
                                            class="card-body d-flex flex-row pt-0 pb-0 pe-0 pe-0 ps-2 h-100 align-items-center justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="name">{{current_user.name or current_user.username or 'Russian Hackers'}}</div>
                                                <div class="text-small text-muted last">{{current_user.last_seen|time_ago}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only ms-1 ms-auto" id="callButton"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                                    data-delay="{'show':'250', 'hide':'0'}" data-bs-original-title="Call">
                                    <i data-acorn-icon="phone" data-acorn-icon-size="20" class="icon"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only ms-1"
                                    id="videoCallButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                                    data-delay="{'show':'250', 'hide':'0'}" data-bs-original-title="Video Call">
                                    <i data-acorn-icon="video" data-acorn-icon-size="20" class="icon"></i>
                                </button>
                            </div>

                            <div class="separator-light mb-3"></div>

                            <div class="h-100 mb-n2 scroll-out">
                                <div class="h-100 os-host os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-overflow os-host-overflow-y os-host-transition"
                                    id="chatContentContainer">
                                    <div class="os-resize-observer-host observed">
                                        <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
                                    </div>
                                    <div class="os-size-auto-observer observed"
                                        style="height: calc(100% + 1px); float: left;">
                                        <div class="os-resize-observer"></div>
                                    </div>
                                    <div class="os-content-glue"
                                        style="margin: 0px -15px; width: 1107px; height: 204px;"></div>

                                    <div class="os-padding">
                                        <div class="os-viewport os-viewport-native-scrollbars-invisible"
                                            style="overflow-y: scroll;">
                                            <div class="os-content"
                                                style="padding: 0px 15px; height: 100%; width: 100%;">
                                                <h1>{% set ct = current_user.messages() %} </h1><br>
                                                <h1>{{ct}} </h1><br>

                                        {% for c in current_user.messages_sent %}
                                                <div class="bg-separator-light rounded-md mb-2  py-3 px-3 pe-7 position-relative text-alternate">
                                                    <a href="{{url_for('chat.chst', user = c.username)}}"
                                                        class="row  w-100 d-flex flex-row g-0 sh-5 mb-2 nav-link p-0 contact-list-item"
                                                        data-id="2">
                                                        <div class="col-auto ">
                                                            <div class="sw-5 d-inline-block position-relative">
                                                                <img src="{{url_for('static', filename='img/profile/'+ c.recipient.photo)}}"
                                                                    class="img-fluid rounded-xl border border-2 border-foreground"
                                                                    alt="thumb" id="contactImage">
                                                                <i class="p-1 border border-1 border-foreground bg-primary position-absolute rounded-xl e-0 t-0 d-none"
                                                                    id="contactStatus"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="card-body d-flex flex-row pt-0 pb-0 ps-3 pe-0 h-100 align-items-center justify-content-between">
                                                                <div class="d-flex flex-column">
                                                                    <div class="mb-1" id="contactName">{{c.name or c.username}}
                                                                    </div>
                                                                    <div class="text-small text-muted clamp-line"
                                                                        data-line="1" id="contactLastSeen"
                                                                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;">
                                                                       {{c.author.body or c. recipient.body}}..... {{c.created|time_ago}}</div>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="badge bg-primary" id="contactUnread">2 {{c.length}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}

<!--                                         {% for c in chats  %}
                                                <div class="bg-separator-light rounded-md mb-2  py-3 px-3 pe-7 position-relative text-alternate">
                                                    <a href="{{url_for('chat.chst', user = c.username)}}"
                                                        class="row  w-100 d-flex flex-row g-0 sh-5 mb-2 nav-link p-0 contact-list-item"
                                                        data-id="2">
                                                        <div class="col-auto ">
                                                            <div class="sw-5 d-inline-block position-relative">
                                                                <img src="{{url_for('static', filename='img/profile/'+ c.photo)}}"
                                                                    class="img-fluid rounded-xl border border-2 border-foreground"
                                                                    alt="thumb" id="contactImage">
                                                                <i class="p-1 border border-1 border-foreground bg-primary position-absolute rounded-xl e-0 t-0 d-none"
                                                                    id="contactStatus"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="card-body d-flex flex-row pt-0 pb-0 ps-3 pe-0 h-100 align-items-center justify-content-between">
                                                                <div class="d-flex flex-column">
                                                                    <div class="mb-1" id="contactName">{{c.name or c.username}}
                                                                    </div>
                                                                    <div class="text-small text-muted clamp-line"
                                                                        data-line="1" id="contactLastSeen"
                                                                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;">
                                                                       {{c.body}}..... {{c.created|time_ago}}</div>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="badge bg-primary" id="contactUnread">2 {{c.length}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card flex-column h-100 w-100 bg-gradient-single-2 d-none" id="callMode">
                    <div
                        class="bg-vertical-ornament-3 w-100 h-100 d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body d-flex align-items-center flex-column flex-grow-1 w-100">
                            <div class="sw-10 mb-2 position-relative">
                                <img src="/static/img/profile/profile-1.webp"
                                    class="img-fluid rounded-xl border border-2 border-foreground profile" alt="thumb">
                            </div>
                            <div class="name text-white">Chris James</div>
                            <div class="text-white text-small time">00:00:00</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

{% endblock content %}