
{% extends 'base.html' %}
{% block title %} Chats . Russian {% endblock title %}
{% block content %}


<h1>{{ ('Send Message to %( recipient)s', recipient) }}</h1> 
<h1>{{  recipient }}</h1>
<div class="row">
    <div class="col-md-4">
<form class="tooltip-end-bottom" method="post" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3 filled form-group tooltip-end-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round"
            class="acorn-icons acorn-icons-email undefined">
            <path
                d="M18 7L11.5652 10.2174C10.9086 10.5457 10.5802 10.7099 10.2313 10.7505C10.0776 10.7684 9.92238 10.7684 9.76869 10.7505C9.41977 10.7099 9.09143 10.5457 8.43475 10.2174L2 7">
            </path>
            <path
                d="M14.5 4C15.9045 4 16.6067 4 17.1111 4.33706C17.3295 4.48298 17.517 4.67048 17.6629 4.88886C18 5.39331 18 6.09554 18 7.5L18 12.5C18 13.9045 18 14.6067 17.6629 15.1111C17.517 15.3295 17.3295 15.517 17.1111 15.6629C16.6067 16 15.9045 16 14.5 16L5.5 16C4.09554 16 3.39331 16 2.88886 15.6629C2.67048 15.517 2.48298 15.3295 2.33706 15.1111C2 14.6067 2 13.9045 2 12.5L2 7.5C2 6.09554 2 5.39331 2.33706 4.88886C2.48298 4.67048 2.67048 4.48298 2.88886 4.33706C3.39331 4 4.09554 4 5.5 4L14.5 4Z">
            </path>
        </svg>
        {{ form.message(class="form-control", placeholder="type your messages" ) }}
        {% if form.message.errors %}
        {% for error in form.message.errors %}<div class="error">{{ error }} !</div> {%
        endfor %}
        {% endif %}
    </div>
    {{ form.submit(class="btn btn-lg col-md-12 btn-primary") }}
</form>

</div>
</div>




{% block specific_page_js %}
<script src="{{ url_for('static', filename='js/pages/quiz.detail.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/countdown.min.js')}}"></script>
{% endblock specific_page_js %}

{% endblock content %}
<!----

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
 <h1>{{ ('Send Message to %( recipient)s', recipient) }}</h1> 
    <h1>{{  recipient }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
---->