{% extends 'base.html' %}
{% block title %}Settings . Russian Developers {% endblock title %}
{% block  page_css %} 
<script src="{{ url_for('static', filename='css/vendor/quill.bubble.css')}}"></script>
<script src="{{ url_for('static', filename='css/vendor/quill.snow.css')}}"></script>
{% endblock page_css %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="scroll-section" id="title">
                    <div class="page-title-container">
                        <h1 class="mb-0 pb-0 display-4">Material</h1>
                        <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                            <ul class="breadcrumb pt-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
                <div>
                    <section class="scroll-section mb-5" id="chapter1">
                        <h2 class="small-title">1. Introduction to Bread Making</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="heading">Cookie Macaroon</div>
                                <p>
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                    <strong>Brownie candy cookie</strong>
                                    candy pie sweet roll biscuit marzipan. Chocolate bar candy canes macaroon liquorice
                                    danish biscuit biscuit.
                                </p>
                                <div class="heading">Muffin</div>
                                <p>
                                    Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake cupcake
                                    gummi bears danish. Sesame snaps muffin macaroon tiramisu ice cream
                                    <u>toffee carrot sesame tootsie roll</u>
                                    .
                                </p>
                                <div class="heading">Liquorice</div>
                                <p>
                                    Snaps muffin macaroon tiramisu ice cream toffee carrot sesame tootsie roll.Brownie
                                    ice cream marshmallow topping. Icing liquorice oat cake caramels. Sugar plum gummi
                                    bears jujubes cookie jelly-o tootsie roll chocolate bar. Jujubes candy jelly-o
                                    topping lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll
                                    lollipop. Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake
                                    cupcake gummi bears danish.
                                </p>
                                <div class="heading">Powder Cake</div>
                                <p>
                                    Sesame snaps brownie gummi bears tootsie roll caramels dragée. Powder cake gummies
                                    jelly beans toffee carrot cake bonbon powder muffin. Jujubes candy jelly-o topping
                                    lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll lollipop.
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                </p>
                                <div class="d-flex flex-row flex-wrap">
                                    <div class="sw-30 me-2 mb-2">
                                        <div class="row g-0 rounded-sm sh-8 border">
                                            <div class="col-auto">
                                                <div
                                                    class="sw-10 d-flex justify-content-center align-items-center h-100">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 20 20" fill="none" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="acorn-icons acorn-icons-file-text text-primary">
                                                        <path
                                                            d="M6.5 18H13.5C14.9045 18 15.6067 18 16.1111 17.6629C16.3295 17.517 16.517 17.3295 16.6629 17.1111C17 16.6067 17 15.9045 17 14.5V7.44975C17 6.83775 17 6.53175 16.9139 6.24786C16.8759 6.12249 16.8256 6.00117 16.7638 5.88563C16.624 5.62399 16.4076 5.40762 15.9749 4.97487L14.0251 3.02513L14.0251 3.02512C13.5924 2.59238 13.376 2.37601 13.1144 2.23616C12.9988 2.1744 12.8775 2.12415 12.7521 2.08612C12.4682 2 12.1622 2 11.5503 2H6.5C5.09554 2 4.39331 2 3.88886 2.33706C3.67048 2.48298 3.48298 2.67048 3.33706 2.88886C3 3.39331 3 4.09554 3 5.5V14.5C3 15.9045 3 16.6067 3.33706 17.1111C3.48298 17.3295 3.67048 17.517 3.88886 17.6629C4.39331 18 5.09554 18 6.5 18Z">
                                                        </path>
                                                        <path d="M13 6 7 6M13 10 7 10M13 14 7 14"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div
                                                class="col rounded-sm-end d-flex flex-column justify-content-center pe-3">
                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-0 clamp-line" data-line="1"
                                                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;">
                                                        nice_recipe.doc</p>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title=""
                                                        data-delay="{&quot;show&quot;:&quot;1000&quot;, &quot;hide&quot;:&quot;0&quot;}"
                                                        data-bs-original-title="Download">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                            viewBox="0 0 20 20" fill="none" stroke="currentColor"
                                                            stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="acorn-icons acorn-icons-download text-alternate">
                                                            <path
                                                                d="M2 14V14.5C2 15.9045 2 16.6067 2.33706 17.1111C2.48298 17.3295 2.67048 17.517 2.88886 17.6629C3.39331 18 4.09554 18 5.5 18H14.5C15.9045 18 16.6067 18 17.1111 17.6629C17.3295 17.517 17.517 17.3295 17.6629 17.1111C18 16.6067 18 15.9045 18 14.5V14">
                                                            </path>
                                                            <path
                                                                d="M14 10 10.7071 13.2929C10.3166 13.6834 9.68342 13.6834 9.29289 13.2929L6 10M10 2 10 13">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="text-small text-primary">521 KB</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sw-30 me-2 mb-2">
                                        <div class="row g-0 rounded-sm sh-8 border">
                                            <div class="col-auto">
                                                <div
                                                    class="sw-10 d-flex justify-content-center align-items-center h-100">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 20 20" fill="none" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="acorn-icons acorn-icons-file-text text-primary">
                                                        <path
                                                            d="M6.5 18H13.5C14.9045 18 15.6067 18 16.1111 17.6629C16.3295 17.517 16.517 17.3295 16.6629 17.1111C17 16.6067 17 15.9045 17 14.5V7.44975C17 6.83775 17 6.53175 16.9139 6.24786C16.8759 6.12249 16.8256 6.00117 16.7638 5.88563C16.624 5.62399 16.4076 5.40762 15.9749 4.97487L14.0251 3.02513L14.0251 3.02512C13.5924 2.59238 13.376 2.37601 13.1144 2.23616C12.9988 2.1744 12.8775 2.12415 12.7521 2.08612C12.4682 2 12.1622 2 11.5503 2H6.5C5.09554 2 4.39331 2 3.88886 2.33706C3.67048 2.48298 3.48298 2.67048 3.33706 2.88886C3 3.39331 3 4.09554 3 5.5V14.5C3 15.9045 3 16.6067 3.33706 17.1111C3.48298 17.3295 3.67048 17.517 3.88886 17.6629C4.39331 18 5.09554 18 6.5 18Z">
                                                        </path>
                                                        <path d="M13 6 7 6M13 10 7 10M13 14 7 14"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div
                                                class="col rounded-sm-end d-flex flex-column justify-content-center pe-3">
                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-0 clamp-line" data-line="1"
                                                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;">
                                                        bread_making.doc</p>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title=""
                                                        data-delay="{&quot;show&quot;:&quot;1000&quot;, &quot;hide&quot;:&quot;0&quot;}"
                                                        data-bs-original-title="Download">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                            viewBox="0 0 20 20" fill="none" stroke="currentColor"
                                                            stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="acorn-icons acorn-icons-download text-alternate">
                                                            <path
                                                                d="M2 14V14.5C2 15.9045 2 16.6067 2.33706 17.1111C2.48298 17.3295 2.67048 17.517 2.88886 17.6629C3.39331 18 4.09554 18 5.5 18H14.5C15.9045 18 16.6067 18 17.1111 17.6629C17.3295 17.517 17.517 17.3295 17.6629 17.1111C18 16.6067 18 15.9045 18 14.5V14">
                                                            </path>
                                                            <path
                                                                d="M14 10 10.7071 13.2929C10.3166 13.6834 9.68342 13.6834 9.29289 13.2929L6 10M10 2 10 13">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="text-small text-primary">1.422 KB</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="scroll-section mb-5" id="chapter2">
                        <h2 class="small-title">2. Molding Techniques</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="heading">Chocolate Icing</div>
                                <p>
                                    Snaps muffin macaroon tiramisu ice cream toffee carrot sesame tootsie roll.Brownie
                                    ice cream marshmallow topping. Icing liquorice oat cake caramels. Sugar plum gummi
                                    bears jujubes cookie jelly-o tootsie roll chocolate bar. Jujubes candy jelly-o
                                    topping lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll
                                    lollipop. Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake
                                    cupcake gummi bears danish.
                                </p>
                                <div class="heading">Candy Canes</div>
                                <p class="mb-0">
                                    Sesame snaps brownie gummi bears tootsie roll caramels dragée. Powder cake gummies
                                    jelly beans toffee carrot cake bonbon powder muffin. Jujubes candy jelly-o topping
                                    lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll lollipop.
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="scroll-section mb-5" id="chapter3">
                        <h2 class="small-title">3. Baking the Right Way</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="heading">Lemon Drops</div>
                                <p>
                                    Bear claw cake sweet. Cupcake marzipan powder macaroon jelly-o chocolate bonbon
                                    liquorice. Marshmallow liquorice cake liquorice jujubes bear claw. Muffin jelly-o
                                    brownie sweet bear claw bear claw. Gummies sugar plum cake pie muffin danish bear
                                    claw bear claw jelly-o. Chocolate icing biscuit. Lollipop chocolate cake jujubes
                                    pastry ice cream pie cotton candy cotton candy toffee. Liquorice croissant cupcake
                                    macaroon liquorice. Halvah muffin biscuit caramels ice cream candy macaroon carrot
                                    cake. Muffin chocolate croissant gummies donut pudding candy. Lemon drops wafer
                                    brownie pastry marshmallow ice cream jelly-o muffin. Dragée soufflé croissant.
                                </p>
                                <div class="heading">Apple Pie</div>
                                <p>
                                    Snaps muffin macaroon tiramisu ice cream toffee carrot sesame tootsie roll.Brownie
                                    ice cream marshmallow topping. Icing liquorice oat cake caramels. Sugar plum gummi
                                    bears jujubes cookie jelly-o tootsie roll chocolate bar. Jujubes candy jelly-o
                                    topping lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll
                                    lollipop. Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake
                                    cupcake gummi bears danish.
                                </p>
                                <div class="heading">Jelly Beans</div>
                                <p class="mb-0">
                                    Sesame snaps brownie gummi bears tootsie roll caramels dragée. Powder cake gummies
                                    jelly beans toffee carrot cake bonbon powder muffin. Jujubes candy jelly-o topping
                                    lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll lollipop.
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="scroll-section mb-5" id="chapter4">
                        <h2 class="small-title">4. Presentation</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="heading">Cotton Candy</div>
                                <p>
                                    Sesame snaps brownie gummi bears tootsie roll caramels dragée. Powder cake gummies
                                    jelly beans toffee carrot cake bonbon powder muffin. Jujubes candy jelly-o topping
                                    lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll lollipop.
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                </p>
                                <div class="heading">Tiramisu</div>
                                <p>
                                    Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake cupcake
                                    gummi bears danish. Sesame snaps muffin macaroon tiramisu ice cream
                                    <u>toffee carrot sesame tootsie roll</u>
                                    .
                                </p>
                                <div class="heading">Tootsie Roll</div>
                                <p class="mb-0">
                                    Snaps muffin macaroon tiramisu ice cream toffee carrot sesame tootsie roll.Brownie
                                    ice cream marshmallow topping. Icing liquorice oat cake caramels. Sugar plum gummi
                                    bears jujubes cookie jelly-o tootsie roll chocolate bar. Jujubes candy jelly-o
                                    topping lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll
                                    lollipop. Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake
                                    cupcake gummi bears danish.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="scroll-section mb-5" id="chapter5">
                        <h2 class="small-title">5. Conclusion</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="heading">Cookie Macaroon</div>
                                <p>
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                    <strong>Brownie candy cookie</strong>
                                    candy pie sweet roll biscuit marzipan. Chocolate bar candy canes macaroon liquorice
                                    danish biscuit biscuit.
                                </p>
                                <div class="heading">Sesame Snaps</div>
                                <p class="mb-0">
                                    Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake cupcake
                                    gummi bears danish. Sesame snaps muffin macaroon tiramisu ice cream
                                    <u>toffee carrot sesame tootsie roll</u>
                                    .
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="scroll-section mb-5" id="chapter6">
                        <h2 class="small-title">6. What is Next?</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="heading">Chocolate Bar</div>
                                <p>
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                    <strong>Brownie candy cookie</strong>
                                    candy pie sweet roll biscuit marzipan. Chocolate bar candy canes macaroon liquorice
                                    danish biscuit biscuit. Liquorice chocolate bar toffee gummi bears. Muffin sweet
                                    tootsie roll tart sugar plum muffin. Danish brownie fruitcake tootsie roll donut
                                    bonbon ice cream. Sweet roll candy muffin chocolate bar carrot cake. Cake oat cake
                                    sugar plum caramels fruitcake tart dessert jelly beans pudding.
                                </p>
                                <div class="heading">Gingerbread Cake</div>
                                <p>
                                    Tiramisu lemon drops tootsie roll macaroon halvah bear claw. Bonbon candy canes oat
                                    cake. Pudding pastry icing. Sweet sugar plum liquorice gummies soufflé gingerbread.
                                    Halvah cheesecake tootsie roll gingerbread chocolate fruitcake. Sugar plum gummi
                                    bears jujubes cookie jelly-o tootsie roll chocolate bar. Jujubes candy jelly-o
                                    topping lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll
                                    lollipop. Tiramisu toffee brownie sweet roll sesame snaps halvah. Icing carrot cake
                                    cupcake gummi bears danish.
                                </p>
                                <div class="heading">Lollipop</div>
                                <p class="mb-0">
                                    Sesame snaps brownie gummi bears tootsie roll caramels dragée. Powder cake gummies
                                    jelly beans toffee carrot cake bonbon powder muffin. Jujubes candy jelly-o topping
                                    lemon drops. Cupcake gingerbread cookie cookie lemon drops tootsie roll lollipop.
                                    Liquorice caramels apple pie chupa chups bonbon. Jelly-o candy apple pie sugar plum
                                    icing chocolate cake lollipop jujubes bear claw. Pastry sweet roll carrot cake cake
                                    macaroon gingerbread cookie.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-auto d-none d-lg-block" id="scrollSpyMenu">
                <ul class="nav flex-column">
                    <li>
                        <a class="nav-link" href="#chapter1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="acorn-icons acorn-icons-chevron-right undefined">
                                <path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16">
                                </path>
                            </svg>
                            <span>Lesson 1</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#chapter2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="acorn-icons acorn-icons-chevron-right undefined">
                                <path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16">
                                </path>
                            </svg>
                            <span>Lesson 2</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#chapter3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="acorn-icons acorn-icons-chevron-right undefined">
                                <path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16">
                                </path>
                            </svg>
                            <span>Lesson 3</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#chapter4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="acorn-icons acorn-icons-chevron-right undefined">
                                <path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16">
                                </path>
                            </svg>
                            <span>Lesson 4</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#chapter5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="acorn-icons acorn-icons-chevron-right undefined">
                                <path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16">
                                </path>
                            </svg>
                            <span>Lesson 5</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#chapter6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="acorn-icons acorn-icons-chevron-right undefined">
                                <path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16">
                                </path>
                            </svg>
                            <span>Lesson 6</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

{% block  page_js %} 
<script src="{{ url_for('static', filename='js/vendor/quill.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/quill.active.js')}}"></script>
<script src="{{ url_for('static', filename='js/forms/controls.editor.js')}}"></script>
{% endblock page_js %} 


{% endblock content %}