<div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
        <div class="logo position-relative"><a href="{{url_for('main.welcome')}}"><div class="img"></div></a></div>
        <div class="language-switch-container">
            <button class="btn btn-empty language-button dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">EN</button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">DE</a>
                <a href="#" class="dropdown-item active">EN</a>
                <a href="#" class="dropdown-item">ES</a>
            </div>
        </div>
        <div class="user-container d-flex">
        
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.user') }}" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            {% if current_user.image %}
            <img class="profile" alt="profile" src="{{ url_for('static', filename='img/profile/' + current_user.image) }}">
            {% else %}
                <img class="profile" alt="profile" src="{{ url_for('static', filename='img/profile/default.webp') }}">
            {% endif %}
        </a>
        {% else %}
        <a href="{{ url_for('auth.signin') }}" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            {% if current_user.image %}
            <img class="profile" alt="profile" src="{{ url_for('static', filename='img/profile/' + current_user.image) }}">
            {% else %}
                <img class="profile" alt="profile" src="{{ url_for('static', filename='img/profile/default.webp') }}">
            {% endif %}

            <div class="name">Russian-Hackers </div>
        </a>
        {% endif %}
            <div class="dropdown-menu dropdown-menu-end user-menu wide">
                
            {% if current_user.is_authenticated %}
                <div class="row mb-3 ms-0 me-0">
                    <div class="col-12 ps-1 mb-2">
                        <div class="text-extra-small text-primary">
                            Account {{ current_user.created|time_ago, current_user|type or 'Student', current_user.last_seen|time_ago|capitalize }} 
                        </div>
                    </div>
                    <div class="col-6 ps-1 pe-1">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{url_for('auth.update', usrname=current_user.username)}}">
                                    <i data-acorn-icon="user" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">{{current_user.username}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 pe-1 ps-1">
                        <ul class="list-unstyled isDisabled">
                            <a href="{{url_for('auth.update', usrname=current_user.username)}}">
                                <i data-acorn-icon="heart" class="me-2" data-acorn-size="17"></i>
                                <span class="align-middle">Saved</span>
                            </a>
                        </ul>
                    </div>
                    <div class="col-6 pe-1 ps-1">
                        <ul class="list-unstyled">
                            <a href="{{url_for('auth.update', usrname=current_user.username)}}">
                                <i data-acorn-icon="gear" class="me-2" data-acorn-size="17"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </ul>
                    </div>
                    <div class="col-6 pe-1 ps-1">
                        <ul class="list-unstyled">
                            <a href="/rate-us">
                                <i data-acorn-icon="star" class="me-2" data-acorn-size="17"></i>
                                <span class="align-middle">Rate us</span>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row mb-1 ms-0 me-0">
                    <div class="col-12 p-1 mb-2 pt-2">
                        <div class="text-extra-small text-primary">Developers</div>
                    </div>
                    <div class="col-6 ps-1 pe-1">
                        <ul class="list-unstyled">
                        <ul class="list-unstyled">
                            <li class="isDisabled">
                                <a href="/build">
                                    <i data-acorn-icon="tool" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Build</span>
                                </a>
                            </li>
                            <li class="isDisabled">
                                <a href="/team">
                                    <i data-acorn-icon="shield" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Team</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}

                <div class="row mb-1 ms-0 me-0">
                    <div class="col-12 p-1 mb-3 pt-3">
                        <div class="separator-light"></div>
                    </div>
                    <div class="col-6 ps-1 pe-1">
                        <ul class="list-unstyled">
                            <li class="isDisabled">
                                <a href="/help">
                                    <i data-acorn-icon="help" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Help</span>
                                </a>
                            </li>
                            <li class="isDisabled">
                                <a href="/docs">
                                    <i data-acorn-icon="file-text" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Docs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 pe-1 ps-1">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/share">
                                    <i data-acorn-icon="share" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Share</span>
                                </a>
                            </li>
                            <li>
                                {% if current_user.is_authenticated %}
                                <a href="{{url_for('auth.signout')}}">
                                    <i data-acorn-icon="power" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Signout</span>
                                </a>
                                {% else %}
                                <a href="{{url_for('auth.signin')}}">
                                    <i data-acorn-icon="login" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Signin</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        {% include('incs/notify.html') %}

        <div class="menu-container flex-grow-1">
            <ul id="menu" class="menu">
                {% if current_user.is_authenticated %}
                <li>
                    <a href="#dashboards">
                        <i data-acorn-icon="home-garage" class="icon" data-acorn-size="18"></i>
                        <span class="label">Dashboards</span>
                    </a>
                    <ul id="dashboards">
                        <li>
                            <a href="{{url_for('main.user')}}"> <span class="label">My learning</span> </a>
                        </li>
                        <li>
                            <a href="/qresult"> <span class="label">My-quizzes</span> </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{{url_for('main.quiz')}}">
                        <i data-acorn-icon="graduation" class="icon" data-acorn-size="18"></i>
                        <span class="label">Quizzes</span>
                    </a>
                </sli>
                {% if current_user.is_admin() %}
                <li class="isDisabled">
                    <a href="/materi">
                        <i data-acorn-icon="destination" class="icon" data-acorn-size="18"></i>
                        <span class="label">Materi</span>
                    </a>
                </li>
                {% endif %}

                {% endif %}

                <li>
                    <a href="{{url_for('main.welcome')}}">
                        <i data-acorn-icon="navigate-diagonal" class="icon" data-acorn-size="18"></i>
                        <span class="label">Courses</span>
                        <ul>
                            <li></li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('main.us')}}">
                        <i data-acorn-icon="image" class="icon" data-acorn-size="18"></i>
                        <span class="label">Us</span>
                    </a>
                </li>
                <li class="isDisabled">
                    <a href="{{url_for('main.blog')}}">
                        <i data-acorn-icon="file-text" class="icon" data-acorn-size="18"></i>
                        <span class="label">Blog</span>
                    </a>
                </li>

            <!--------Disabled below links for now ----->
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <li class="isDisabled">
                    <a href="#quiz2" aria-disabled="true">
                    <i data-acorn-icon="file-image" class="icon" data-acorn-size="18"></i>
                        <span class="label">Quiz</span>
                    </a>
                    <ul id="quiz2">
                        <li>
                            <a href="/quiz2" aria-disabled="true">
                                <span class="label">Quizzes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/qresult2" aria-disabled="true">
                                <span class="label">My result</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="isDisabled">
                    <a href="{{url_for('chat.list')}}" aria-disabled="true">
                        <i data-acorn-icon="online-class" class="icon" data-acorn-size="18"></i>
                        <span class="label">Chatme</span>
                        <ul>
                            <li></li>
                        </ul>
                    </a>
                </li>

                <li class="isDisabled">
                    <a href="{{url_for('main.path')}}" aria-disabled="true">
                        <i data-acorn-icon="destination" class="icon" data-acorn-size="18"></i>
                        <span class="label">Paths</span>
                    </a>
                </li>
                <li class="isDisabled">
                    <a href="{{url_for('main.tutor_list')}}" aria-disabled="true">
                        <i data-acorn-icon="lecture" class="icon" data-acorn-size="18"></i>
                        <span class="label">Instructors</span>
                    </a>
                </li>
                <li class="isDisabled">
                    <a href="#misc" aria-disabled="true">
                        <i data-acorn-icon="layout-5" class="icon" data-acorn-size="18"></i>
                        <span class="label">Misc</span>
                    </a>
                    <ul id="misc" >
                        <li>
                            <a href="{{url_for('main.school')}}" aria-disabled="true">
                                <span class="label">School</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('main.player')}}" aria-disabled="true">
                                <span class="label">Play</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('main.materi')}}" aria-disabled="true">
                                <span class="label">Material</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('main.syllabus')}}" aria-disabled="true">
                                <span class="label">Syllabus</span>
                            </a>
                        </li>
                    {% endif %}

                    </ul>
                </li>
                
            </ul>
        </div>

        <div class="mobile-buttons-container">
            <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
                <i data-acorn-icon="menu-dropdown"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-acorn-icon="menu"></i>
            </a>
        </div>
        
    </div>
    <div class="nav-shadow"></div>
</div>

<style>
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

a[aria-disabled="true"] {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}
</style>
<script>
    document.body.addEventListener('click', function (event) {
  // filter out clicks on any other elements
  if (event.target.nodeName == 'A' && event.target.getAttribute('aria-disabled') == 'true') {
    event.preventDefault();
  }
});
</script>