
<div class="modal fade modal-under-nav modal-search modal-close-out" id="searchPagesModal" tabindex="-1"
role="dialog" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header border-0 p-0">
            <button type="button" class="btn-close btn btn-icon btn-icon-only btn-foreground" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body ps-5 pe-5 pb-0 border-0">
            <input id="searchPagesInput" placeholder="search the program" class="form-control form-control-xl borderless ps-0 pe-0 mb-1 auto-complete" type="text" autocomplete="off">
            <!----
            <ul id="searchPagesResults" class="auto-complete-result">
                <li data-id="4" class="auto-complete-result-item">
                    <p class="mb-0"><span class="autoComplete_highlighted">C</span>ourses &gt; Detail</p>
                    <p class="text-small text-muted mb-0">Course.Detail.html</p>
                </li>
                <li data-id="2" class="auto-complete-result-item">
                    <p class="mb-0"><span class="autoComplete_highlighted">C</span>ourses &gt; Explore</p>
                    <p class="text-small text-muted mb-0">Course.Explore.html</p>
                </li>
                <li data-id="3" class="auto-complete-result-item">
                    <p class="mb-0"><span class="autoComplete_highlighted">C</span>ourses &gt; List</p>
                    <p class="text-small text-muted mb-0">Course.List.html</p>
                </li>
                <li data-id="1" class="auto-complete-result-item">
                    <p class="mb-0">Dashboards &gt; S<span class="autoComplete_highlighted">c</span>hool</p>
                    <p class="text-small text-muted mb-0">Dashboards.School.html</p>
                </li>
                <li data-id="11" class="auto-complete-result-item">
                    <p class="mb-0">Instru<span class="autoComplete_highlighted">c</span>tors &gt; Detail</p>
                    <p class="text-small text-muted mb-0">Instructor.Detail.html</p>
                </li>
                <li data-id="10" class="auto-complete-result-item">
                    <p class="mb-0">Instru<span class="autoComplete_highlighted">c</span>tors &gt; List</p>
                    <p class="text-small text-muted mb-0">Instructor.List.html</p>
                </li>
                <li data-id="13" class="auto-complete-result-item">
                    <p class="mb-0">Mis<span class="autoComplete_highlighted">c</span>ellaneous &gt; Material
                    </p>
                    <p class="text-small text-muted mb-0">Misc.Material.html</p>
                </li>
                <li data-id="12" class="auto-complete-result-item">
                    <p class="mb-0">Mis<span class="autoComplete_highlighted">c</span>ellaneous &gt; Player</p>
                    <p class="text-small text-muted mb-0">Misc.Player.html</p>
                </li>
                <li data-id="14" class="auto-complete-result-item">
                    <p class="mb-0">Mis<span class="autoComplete_highlighted">c</span>ellaneous &gt; Syllabus
                    </p>
                    <p class="text-small text-muted mb-0">Misc.Syllabus.html</p>
                </li>
            </ul> --->

        </div>

        <div class="modal-footer border-top justify-content-start ps-5 pe-5 pb-3 pt-3 border-0">
            <span class="text-alternate d-inline-block m-0 me-3">
                <i data-acorn-icon="arrow-bottom" data-acorn-size="15"
                    class="text-alternate align-middle me-1"></i>
                <span class="align-middle text-medium">Navigate</span>
            </span>

            <span class="text-alternate d-inline-block m-0 me-3">
                <i data-acorn-icon="arrow-bottom-left" data-acorn-size="15" class="text-alternate align-middle me-1"></i>
                <span class="align-middle text-medium">Select</span>
            </span>

        </div>
    </div>
</div>
</div>