<!DOCTYPE html>
<html lang="en" data-footer="true">
<head>
    <head> 
        <title>{% block title %} Topics . Russsian Developers {% endblock title %}</title>
        {% include('incs/metas.html') %}
        {% block  page_css %} <!--
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/plyr.css')}}"> -->
        {% endblock page_css %}

        <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/quill.bubble.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/quill.snow.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/main.css')}}">
</head>
<body>
    <div id="root">
        
        {% include('incs/nav.html') %}

        <main>
            <div class="container d-flex flex-column">
                
                <div class="page-title-container">
                    <div class="row">
                        <div class="col-12 col-sm-6"> 
                        <h6 class="mb-0 pb-0 display-4" id="title">
                            Topics <i data-acorn-icon="chevron-right"></i> {{Korse.Course.title }} <i data-acorn-icon="chevron-right"></i> <em class="text-primary"> {{Korse.Lesson.title}}</em> </h6><br>
                        </div>
                        <div class="col-12 col-sm-6 d-flex align-items-start justify-content-end">
                            <button type="button"
                                class="btn btn-outline-primary btn-icon btn-icon-start w-100 w-sm-auto d-inline-block d-xl-none"
                                data-bs-toggle="modal" data-bs-target="#tableOfContentsModal">
                                <i data-acorn-icon="menu-right"></i>
                                <span>Contents</span>
                            </button>
                        </div>
                    </div>
                </div>
               
                <div class="row d-flex flex-grow-1 overflow-hidden pb-2 h-100">
                    <div class="col-xl-8 col-xxl-9">
                        <div class="card mb-5 h-100 bg-transparent">

                            <section class="scroll-section" id="quillStandart"> 
                                <h4 class="small-title">Topic > It's a bite-sized learning model</h4>

                            <form method="POST">
                                {{ form.csrf_token }}
                                
                                {{ form.title(hidden=hidden, id='headerField') }}
                                {{ form.desc(hidden=hidden, id='contentField') }} 

                                {% if form.errors %}
                                    {% for error in form.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                {% endif %}

                                <div class="card mb-5">
                                    <div class="card-body">
                                        <div class="filled custom-control-container editor-container">
                                            <div class="html-editor sh-9" id="headerEditor"></div>
                                            <i data-acorn-icon="notebook-1"></i>
                                        </div>
                                    </div>
                                    <div class="card-body editor-container">
                                        <div class="html-editor sh-19" id="contentEditor"></div> 
                                    </div>
                                </div>

                                <div class="card-footer text-center border-0 mt-3 pt-1" style="margin-top: 10px;">

                                    <a href="{{url_for('editor.lesson',cid=Korse.Course.id)}}" class="btn btn-icon btn-icon-start btn-outline-primary btn-prev" type="button">
                                        <i data-acorn-icon="chevron-left"></i> <span>Back</span>
                                    </a>

                                    <button type="submit" class="btn btn-icon btn-icon-end btn-outline-primary btn-next">
                                        <span>Next</span>
                                        <i data-acorn-icon="chevron-right"></i>
                                    </button>
                                    <button type="button" onclick="cloneSection()" class="btn btn-icon btn-icon-end btn-outline-primary btn-next">
                                        <span>More Topics</span>
                                        <i data-acorn-icon="chevron-right"></i>
                                    </button>
                                </div>
                            </form>
                        </section>

                        </div> 

                    </div>
                    <div class="d-none d-xl-flex col-xl-4 col-xxl-3 h-100 scroll-out table-of-contents-scroll"
                        id="tableOfContentsColumn">
                    </div>
                </div>
                
                <div class="modal modal-right fade" id="tableOfContentsModal" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Content</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-0">
                                <div id="tableOfContentsMoveContent" data-move-target="#tableOfContentsColumn"
                                    data-move-breakpoint="xl">
                                    <div id="courseContent">
                                    
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <div class="d-flex flex-row align-content-center align-items-center cursor-pointer"
                                                    data-bs-toggle="collapse" data-bs-target="#colpse-chapter-topic"
                                                    aria-expanded="true" aria-controls="colpse-chapter-topic">
                                                    <div class="sw-4 me-3">
                                                        <div class="border border-1 border-primary rounded-xl sw-4 sh-4 text-primary d-flex justify-content-center align-items-center">
                                                           <i data-acorn-icon="graduation" data-icon-size="10" class="icon"></i>
                                                        </div>
                                                    </div>
                                                    <div> <div class="heading mb-0">({{Korse.Lesson.title}})</div> </div>
                                                </div>
                                                <div id="colpse-chapter-topic" class="accordion-collapse collapse ms-2 ps-1 show" data-bs-parent="#courseContent">
                                                     {% for t in Korse[1].topiq %}
                                                    <div class="row g-0 {{ 'mt-4' if loop.index==1}}">
                                                        <div class="col-auto sw-1 d-flex flex-column justify-content-center align-items-center position-relative me-4">
                                                            <div class="w-100 d-flex sh-1"> </div>
                                                            <div class="rounded-xl shadow d-flex flex-shrink-0 justify-content-center align-items-center">
                                                                <div class="bg-primary sw-1 sh-1 rounded-xl position-relative"> </div>
                                                            </div>
                                                            <div class="w-100 d-flex h-100 justify-content-center position-relative">
                                                                <div class="line-w-1 bg-separator h-100 position-absolute"> </div>
                                                            </div>
                                                        </div>
                                                        <div class="col mb-2">
                                                            <div class="h-100">
                                                                <div class="d-flex flex-column justify-content-start">
                                                                    <div class="d-flex flex-column">
                                                                        <a href="#" class="heading">{{loop.index}}. {{t.title}}</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    {% if not Korse[1].topiq %}
                                                    <div class="row g-0 mt-4">
                                                        <div class="col-auto sw-1 d-flex flex-column justify-content-center align-items-center position-relative me-4">
                                                            <div class="w-100 d-flex sh-1"> </div>
                                                            <div class="rounded-xl shadow d-flex flex-shrink-0 justify-content-center align-items-center">
                                                                <div class="bg-primary sw-1 sh-1 rounded-xl position-relative"> </div>
                                                            </div>
                                                            <div class="w-100 d-flex h-100 justify-content-center position-relative">
                                                                <div class="line-w-1 bg-separator h-100 position-absolute"> </div>
                                                            </div>
                                                        </div>
                                                        <div class="col mb-2">
                                                            <div class="h-100">
                                                                <div class="d-flex flex-column justify-content-start">
                                                                    <div class="d-flex flex-column">
                                                                        <a href="#" class="heading">0 Topics Here</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include('incs/footer.html') %}
        
    </div>
   
    {% include('incs/search.html') %}

    <script src="{{ url_for('static', filename='js/vendor/jquery-3.5.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/OverlayScrollbars.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/autoComplete.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/clamp.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/icon/acorn-icons.js')}}"></script>
    <script src="{{ url_for('static', filename='js/icon/acorn-icons-interface.js')}}"></script>
    <script src="{{ url_for('static', filename='js/icon/acorn-icons-learning.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/plyr.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/movecontent.js')}}"></script>
    <script src="{{ url_for('static', filename='js/base/helpers.js')}}"></script>
    <script src="{{ url_for('static', filename='js/base/globals.js')}}"></script>
    <script src="{{ url_for('static', filename='js/base/nav.js')}}"></script>
    <script src="{{ url_for('static', filename='js/base/search.js')}}"></script>
    <script src="{{ url_for('static', filename='js/base/settings.js')}}"></script>
    <script src="{{ url_for('static', filename='js/pages/misc.player.js')}}"></script>
    <script src="{{ url_for('static', filename='js/common.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script> 

    <!-------------------->
    <script src="{{url_for('static', filename='js/vendor/quill.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/quill.active.js')}}"></script><!--
    <script src="{{url_for('static', filename='js/forms/controls.editor.js')}}"></script>--->
    <script src="{{url_for('static', filename='js/forms/editor.js')}}"></script>
    <!-------------------->

</body>
</html>