<!DOCTYPE html>
<html lang="en" data-footer="true">
<head>
    <title>Advanced Courses</title> 
    {% include('incs/metas.html') %}
    <link rel="stylesheet" href="{{url_for('static', filename='setting/font/CS-Interface/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/vendor/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/vendor/OverlayScrollbars.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/vendor/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/vendor/select2-bootstrap4.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/quill.bubble.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/quill.snow.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/tagify.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='setting/css/main.css')}}">
    <script src="{{url_for('static', filename='setting/js/base/loader.js')}}"></script>
</head>

<body>
    <div id="root">
    
   {% include 'incs/nav.html' %}

        <main>
            <div class="container">

                    <div class="col">
                        <div class="page-title-container mb-3">
                            <div class="row">
                                <div class="col mb-2">
                                    <h1 class="mb-2 pb-0 display-4" id="title">Courses</h1>
                                    <div class="text-muted font-heading text-small">
                                Advanced courses</div>
                                </div>
                            </div>
                        </div>

                            <section class="scroll-section" id="quillStandart">
                                <h2 class="small-title">Course Info</h2>
                                <div class="card-body">
                                    
                                    {% include 'incs/alerts.html' %}

                                    <form method="post" action="" class="d-flex flex-column mb-4">
                                        {{ form.hidden_tag() }}
                                        <div class="mb-3 filled w-100 d-flex flex-column">
                                            <i data-acorn-icon="tag"></i> 
                                            {{ form.title(class="form-control", placeholder="Enter Course Title" ) }}
                                            {% if form.title.errors %}
                                                {% for error in form.title.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row g-3" >
                                            <div class="col-md-4" >
                                                <div class="filled mb-0 w-100 mb-3 col-md-4">
                                                    <i data-acorn-icon="gender"></i>
                                            {{ form.category(class="select-single-no-search-filled", placeholder="Choose Course Category" ) }}
                                            {% if form.category.errors %}
                                                {% for error in form.category.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                            {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="filled mb-0 w-100 mb-3 col-md-4">
                                                    <i data-acorn-icon="choice"></i>
                                                    {{ form.lang(class="select-single-no-search-filled", placeholder="Course Language" ) }}
                                            {% if form.lang.errors %}
                                                {% for error in form.lang.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                            {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="filled mb-0 w-100 mb-3 col-md-4">
                                                    <i data-acorn-icon="destination"></i>
                                                    {{ form.lev(class="select-single-no-search-filled", placeholder="Course Level" ) }}
                                                    {% if form.lev.errors %}
                                                        {% for error in form.lev.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            </div>
                                            
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                <div class="filled w-100">
                                                <i data-acorn-icon="tag"></i>
                                               <!---- -->
                                                <tags class="tagify tagify--noTags tagify--empty" tabindex="-1">
                                                    <span contenteditable="" data-placeholder="Tags" aria-placeholder="Tags" class="tagify__input" role="textbox" aria-autocomplete="both" aria-multiline="false"></span>
                                                    </tags>
                                                        {{ form.tag( id="tagsFilled", placeholder="Tags" ) }}
                                                        {% if form.tag.errors %}
                                                            {% for error in form.tag.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                                        {% endif %}
                                                </div>
                                                </div>
                                                </div>
    
                                                <div class="row g-3" >
                                                    <div class="col-md-4" >
                                                        <div class="mb-3 filled w-100 d-flex flex-column">
                                                            <i data-acorn-icon="tag"></i>
                                                            {{ form.author(class="form-control", placeholder="Instructor\'s Name" ) }}
                                                            {% if form.author.errors %}
                                                                {% for error in form.author.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" >
                                                        <div class="mb-3 filled w-100 d-flex flex-column">
                                                            <i data-acorn-icon="date"></i>
                                                            {{ form.duration(class="select-single-no-search-filled", placeholder="Course Duration" ) }}
                                                            {% if form.duration.errors %}
                                                                {% for error in form.duration.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="mb-3 filled w-100 d-flex flex-column">
                                                            <i data-acorn-icon="dollar"></i>
                                                            {{ form.fee(class="form-control", value=form.fee.data or 0, placeholder="Course Fee(in dollars)" ) }}
                                                            {% if form.fee.errors %}
                                                                {% for error in form.fee.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
    
                                                    </div>
    
                                        <div class="mb-3 filled w-100 d-flex flex-column">
                                            <i data-acorn-icon="file-text"></i>
                                            {{ form.desc(class="form-control", rows="5", placeholder="Course Description" ) }}
                                            {% if form.desc.errors %}
                                                {% for error in form.desc.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                            {% endif %}
                                        </div>
                                        
                                        <div class="card-footer text-center border-0 mt-3 pt-1" style="margin-top: 10px;">
                                            
                                            <button class="btn btn-icon btn-icon-start btn-outline-primary btn-prev" disabled type="button">
                                                <i data-acorn-icon="chevron-left" data-acorn-icon-size="20" class="icon"></i>
                                                <span>Back</span>
                                            </button>

                                            <button class="btn btn-icon btn-icon-start btn-outline-primary btn-next" type="submit">
                                                <i data-acorn-icon="chevron-right" data-acorn-icon-size="20" class="icon"></i>
                                                <span>Back</span>
                                            </button>
                                            {% if form.submit.errors %}
                                            {% for error in form.submit.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                            {% endif %}

                                            {#
                                            {{ form.submit(class="btn btn-icon btn-icon-end btn-outline-primary btn-next") }}
                                            {% if form.submit.errors %}
                                                {% for error in form.submit.errors %}<div class="error">{{ error }} !</div> {% endfor %}
                                            {% endif %} 
                                            #}

                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>

                    </div>
        </main>
        {% include('incs/footer.html') %}
    </div>
    {% include('incs/settings.html') %}
    {% include('incs/search.html') %}
 
    <script src="{{url_for('static', filename='setting/js/vendor/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/vendor/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/vendor/OverlayScrollbars.min.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/vendor/autoComplete.min.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/vendor/clamp.min.js')}}"></script>
    <script src="{{url_for('static', filename='setting/icon/acorn-icons.js')}}"></script>
    <script src="{{url_for('static', filename='setting/icon/acorn-icons-interface.js')}}"></script>

    
    <script src="{{url_for('static', filename='js/cs/scrollspy.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/quill.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/quill.active.js')}}"></script>

    <script src="{{url_for('static', filename='js/vendor/tagify.min.js')}}"></script>

    <script src="{{url_for('static', filename='setting/icon/acorn-icons-commerce.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/vendor/select2.full.min.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/vendor/singleimageupload.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/base/helpers.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/base/globals.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/base/nav.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/base/search.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/base/settings.js')}}"></script>
    <script src="{{url_for('static', filename='setting/js/pages/account.settings.js')}}"></script>

    <!---->
    <script src="{{url_for('static', filename='js/forms/controls.editor.js')}}"></script>
    <script src="{{url_for('static', filename='js/forms/controls.tag.js')}}"></script>

    <script src="{{url_for('static', filename='setting/js/common.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script> <!--use-general-script-here-for-consistency-in-UI-->
</body>

</html>